{
  "extends": "airbnb-base",
  "plugins": [
    "import"
  ],
  "overrides": [
    {
      "files": ["*.spec.js"],
      "rules": {
        "no-unused-expressions": "off"
      }
   }
  ],
  "rules": {
    "no-console": "off"
  },
  "globals": {
    "fetch": false,
    "context": false
  }
}